<h2>OAuth Settings</h2>

{% for err_str in err_strs %}
<p><strong>{{ err_str }}</strong></p>
{% endfor %}

<h3>Client applications</h3>

{% for rec in consumers %}
<form method="POST"><p>{{ rec }} 
{% if rec.user == user %}
{% csrf_token %}
<input type="hidden" name="key" value="{{rec.key}}"/>
<input type="hidden" name="action" value="deleteconsumer"/>
<input type="submit" value="Delete"/>
{% endif %}
</p></form>
{% endfor %}

<p>Add application</p>

<form method="POST">
{% csrf_token %}
<table>
{{ consumer_form }}
</table>
<input type="hidden" name="action" value="addconsumer"/>
<p><input type="submit" value="Add"/></p>
</form>

<h3>Tokens</h3>

{% for rec in tokens %}
<form method="POST"><p>{{ rec }} 
{% if rec.user == user %}
{% csrf_token %}
<input type="hidden" name="key" value="{{rec.key}}"/>
<input type="hidden" name="action" value="deletetoken"/>
<input type="submit" value="Delete"/>
{% endif %}
</p></form>
{% endfor %}

