django>=1.11.16,<2.0; python_version < '3.0'
django==3.1.8; python_version >= '3.0'
djangorestframework==3.9.4; python_version < '3.0'
djangorestframework==3.12.2; python_version >= '3.0'
defusedxml==0.6.0
psycopg2-binary==2.8.6
django-oauth10a-mod==2.2.10
gunicorn==20.0.4

