<p>Front page</p>

<p>Database status: {{db_status}}</p>

<p>Api: <a href="{% url 'api:apibase' %}">{% url 'api:apibase' %}</a></p>


{% if user.is_authenticated %}

<p>Hi {{ user.username }}</p>

<p><a href="{% url 'oauth2:applications' %}">OAuth2 settings</a></p>

<p><a href="{% url 'accounts:password_change' %}">Change password</a></p>

<p><a href="{% url 'accounts:logout' %}">Log out</a></p>

{% else %}
<p><a href="{% url 'accounts:login' %}">Log in</a></p>
{% endif %}

<p><a href="{% url 'objectinfo:history' %}">Recent changesets in html format</a></p>

<p><a href="{% url 'replication:replicate' %}">Replication data</a></p>

<p><a href="{% url 'replication:extracts' %}">Map extracts to download</a></p>

<p><a href="{% url 'replication:planet_dumps' %}">Planet dumps to download</a></p>

{% with query='nwr[amenity=hospital](52.9751082,-6.8115234,53.7097136,-5.625);out center;' %}
<p><a id="overpass_example" href="{% url 'overpass_interpreter' %}?data={{ query|urlencode:'' }}">Example Overpass query</a>: <code>{{ query }}</code></p>
{% endwith %}

{% with query='*[bbox=-6.8115234,52.9751082,-5.625,53.7097136][amenity=hospital]' %}
<p><a id="xapi_example" href="{% url 'overpass:xapi2' %}?{{ query }}">Example XAPI request</a>: <code>{{ query }}</code></p>
{% endwith %}

